html {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.loader {
    margin-left: 100px;
}

/****************NAVBAR****************/
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  min-height: 60px;
  background-color: rgb(185, 93, 93);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul li {
  display: inline-block;
  margin-left: 15px;
}

li a {
  text-decoration: none;
  color: #f1f1f1;
}

/****************CONTACT FORM****************/
.contact-form {
  display: block;
  position: relative;
  background-color: #f1f1f1;
  padding: 20px 30px;
  margin: 100px auto;
  width: 500px;
  align-content: center;
}

.contact-form h3 {
    text-align: center;
    margin: 20px;
}

.label-form {
  width: 100%;
}

.names-form{
    display: flex;
}

.label-form1 {
    flex: 1;
    width: 100%;
    padding-right: 30px;
}

label {
  text-align: left;
  display: block;
  padding-top: 10px;
}

input,
textarea {
  margin: 15px 10px 0;
  padding: 10px;
  width: 90%;
}

.btn {
  width: 100px;
  height: 30px;
  margin-left: 40%;
  margin-top: 10%;
  background-color: green;
  color: white;
}

.btn:disabled {
  background: lightslategray;
}

label {
    font-size: 15px;
    margin-left: 10px;
}

.form-error {
  margin-top: 2px;
  font-size: 10px;
  margin-left: 10px;
  color: red;
  display: none;
}

/****************MAIN PAGE************/
.main-title {
  text-align: center;
  margin: 100px 0 50px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.makeup-item {
  text-decoration: none;
  color: black;
  box-shadow: 0 0 1px black;
  padding: 10px;
}

.product-name {
  font-size: 16px;
  text-align: center;
}

.image {
  height: 50vh;
  width: 60%;
  padding: 0 20%;
}

.price-tag {
  text-align: center;
}

/****************DETAILS PAGE************/
.makeup-details {
  margin: 50px 100px;
  display: flex;
}

.detail-description {
  flex: 1;
  padding-right: 50px;
}

.detail-description a {
  color: black;
}

.detail-img {
  max-height: 100vh;
  max-width: 100vh;
  flex: 1;
  padding-left: 20px;
  padding-top: 30px;
}
